/* e-pay.module.css */

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7; /* Light background color */
  padding: 20px;
}

.formContainer {
  background-color: #fff; /* White background for the form */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 500px; /* Set a maximum width */
}

.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.myform {
  display: flex;
  flex-direction: column;
}

.fieldset {
  border: none; /* Remove border */
  margin-bottom: 20px;
}

.legend {
  font-size: 18px;
  font-weight: bold; /* Make legend bold */
  margin-bottom: 10px;
}

.label {
  color:black;
  font-size: 16px;
  margin-bottom: 5px;
}

.inputText,
.inputDate {
  padding: 10px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.radio {
  margin-right: 5px; /* Space between radio and label */
}

.radioLabel {
  color:black;
  margin-right:7px;
}
.genderContainer {
  display: flex; /* Use flexbox for alignment */
  flex-direction:row;
  align-items:center;
  margin-bottom: 15px; /* Space below the gender selection */
}

.error {
  color: red;
  font-size: 14px; /* Smaller error message */
}

.errorInput {
  border: 1px solid red; /* Red border for error */
}

.button {
  background-color: #007bff; /* Primary button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Light overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff; /* Primary color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
